<template>
  <div class="cat">
    <div class="head"></div>
    <div class="ear ear-left"></div>
    <div class="ear ear-right"></div>
    <div class="ear ear-left ear-inner"></div>
    <div class="ear ear-right ear-inner"></div>
    <div class="eye eye-left"></div>
    <div class="eye eye-right"></div>
    <div class="nose"></div>
  </div>
</template>

<style>
.cat {
  display: inline-block;
  position: relative;
  transform: scale(0.4);
}

.head {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: solid 1px white;
  z-index: 1;
  background: black;
}

.ear {
  position: absolute;
  top: 0;
  left: 2px;
  width: 30px;
  height: 80px;
  background-color: black;
  border-radius: 100%;
  z-index: -1;
}

.ear-left {
  transform: rotate(-15deg);
}

.ear-right {
  transform: rotate(15deg);
  left: 68px;
}

.ear-inner {
  background-color: white;
  transform: rotate(-15deg) scale(0.8);
}

.ear-inner.ear-right {
  transform: rotate(15deg) scale(0.8);
}

.eye {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
}

.eye::after {
  content: '';
  position: absolute;
  top: calc(50% - 4px);
  left: calc(50% - 4px);
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 50%;
}

.eye-right {
  left: 60px;
}

.nose {
  position: absolute;
  width: 20px;
  height: 10px;
  background: #444;
  left: calc(50% - 10px);
  top: 60%;
  border-radius: 10px;
}

@keyframes turn {
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes godown {
  100% {
    top: 180px;
  }
}
@keyframes goright {
  100% {
    left: 70px;
  }
}
</style>
