<template>
  <div
    class="message-wrapper"
    :class="{ response: !isCat }"
  >
    <Cat v-if="isCat" />
    <transition-group
      name="slide-up"
      tag="div"
      class="column"
    >
      <div
        v-for="{ text, time, imageSrc } in message.texts"
        class="message"
        :class="{ isCat }"
        :key="time"
      >
        {{ text }}
        <div
          v-if="imageSrc"
          class="catimg"
        >
          <img
            :src="imageSrc"
          >
        </div>
      </div>
    </transition-group>
  </div>
</template>

<script>
import Cat from '../components/Cat.vue'

export default {
  components: {
    Cat
  },
  computed: {
    isCat () {
      return this.message.author === 'cat'
    }
  },
  props: {
    message: {
      type: Object,
      required: true
    }
  }
}
</script>

<style>
.catimg {
  max-width: 600px;
}

.catimg img {
  width: 800px;
  margin: 16px 0 8px;
  max-width: 100%;
}

.message-wrapper {
  display: flex;
  align-items: flex-start;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.response {
  justify-content: flex-end;
}

.message {
  border: solid 1px #ccc;
  margin: 4px;
  padding: 8px 16px;
}

.slide-up-enter-active,
.slide-up-move {
  transition: transform 0.4s;
}

.slide-up-enter {
  transform: translateY(10px);
}
</style>
