<template>
  <section class="main">
    <Message
      v-for="(message, index) in messages"
      :message="message"
      :key="index"
    />
  </section>
</template>

<script>
import Message from '../components/Message.vue'

export default {
  components: {
    Message
  },
  data () {
    return {
      messages: [{
        author: 'cat',
        texts: [{
          time: new Date().getTime(),
          text: 'Hi! I\'m GatoBot.'
        }]
      }]
    }
  },
  created () {
    setTimeout(() => {
      this.messages[0].texts.push({
        time: new Date().getTime(),
        text: '...'
      })
    }, 500)
    setTimeout(() => {
      this.$set(this.messages[0].texts, 1, {
        time: new Date().getTime(),
        text: 'I combine the vast digital knowledge of a cat'
      })
    }, 2000)

    setTimeout(() => {
      this.messages[0].texts.push({
        time: new Date().getTime(),
        text: '...'
      })
    }, 3200)
    setTimeout(() => {
      this.$set(this.messages[0].texts, 2, {
        time: new Date().getTime(),
        text: 'with the affection and warmth of a bot'
      })
    }, 5000)

    setTimeout(() => {
      this.messages[0].texts.push({
        time: new Date().getTime(),
        text: 'Here is the cat from which I was cloned:',
        imageSrc: 'https://source.unsplash.com/600x500?cat'
      })
    }, 7000)
  }
}
</script>

<style>
  .main {
    max-width: 40em;
    margin: 3em auto 0;
  }
</style>
